

 <%-include("~admin-header.ejs")%>

    <div class="main-content">
        <h1>Add a new Tour Company</h1>
        <form class="bookingForm" onchange="calculateUpfrontCost()"onsubmit="createBooking(event)">
            <legend>Make a Reservation</legend>
             <label>
                 <span>First name: </span>
                 <input type="text" name="fname">
             </label>
             <label>
                 <span>Last name: </span>
                 <input type="text" name="lname">
             </label>
             <div class="activities">
                <div class="form-group">
                    <label>
                        <span>Program: </span>
                        <select name="program">
                            <% programs.forEach((program)=>{ %>
                                <option data-cost="<%= program.program_cost %>" value="<%= program.program_id %>"><%= program.program %></option>
                            <% })%>
                        </select>
                    </label>
                    <label>
                        <span> # of Persons: </span>
                        <input type="number" class="activityNum" name="activityNum" min="0" max="20" value="0" >
                    </label>
                </div>
                 <label>
                    <span>Excursion Date: </span>
                    <input type="date" class="excurs" name="excursionDate" min="2022-06-19">
                </label>
             </div>
             <div class="cta" onclick="addProgram(event)">
                 <button class="w-btn w-btn-primary w-btn-sm"> 
                     <i class="fa-solid fa-plus"></i>
                     <span>
                          Program
                     </span>
                      
                 </button>
                     
             </div>
             <label>
                 <span>Hotel: </span>
                 <input type="text" name="origin">
             </label>
             <label>
                 <span>Payment Type: </span>
                 <select name="paymentType">
                    <option value="Credit Card">Credit Card</option>
                    <option value="Credit">Credit</option>
                    <option value="Cash">Cash</option>
                 </select>
             </label>
             <label class="inline-flex">
                 <span>Total Due: </span>
                 <span id="total_amount"></span>
             </label>
             <button class="w-btn w-btn-primary">Make Booking</button>
             
         </form>
    </div>
<%-include("~admin-footer.ejs")%>